---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: default-ingress-pool
  namespace: metallb-system
spec:
  addresses:
    - {{ metallb_ip_range }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: default-ingress-l2
  namespace: metallb-system
spec:
  ipAddressPools:
    - default-ingress-pool
