.encoding = "UTF-8"
config.version = "8"
virtualHW.version = "${hw_version}"
displayName = "${name}"
annotation = "${annotation}"
guestOS = "${guest_os}"
numvcpus = "${cpus}"
memSize = "${memory}"
firmware = "bios"
disk.EnableUUID = "TRUE"
pciBridge0.present = "TRUE"
pciBridge4.present = "TRUE"
pciBridge4.virtualDev = "pcieRootPort"
pciBridge4.functions = "8"
pciBridge5.present = "TRUE"
pciBridge5.virtualDev = "pcieRootPort"
pciBridge5.functions = "8"
pciBridge6.present = "TRUE"
pciBridge6.virtualDev = "pcieRootPort"
pciBridge6.functions = "8"
pciBridge7.present = "TRUE"
pciBridge7.virtualDev = "pcieRootPort"
pciBridge7.functions = "8"
scsi0.present = "TRUE"
scsi0.virtualDev = "pvscsi"
%{ for i, f in disks ~}
scsi0:${i}.present = "TRUE"
scsi0:${i}.deviceType = "scsi-hardDisk"
scsi0:${i}.fileName = "${f}"
%{ endfor ~}
sata0.present = "TRUE"
sata0:0.present = "TRUE"
sata0:0.deviceType = "cdrom-image"
sata0:0.fileName = "cidata.iso"
ethernet0.present = "TRUE"
ethernet0.virtualDev = "vmxnet3"
ethernet0.networkName = "${port_group}"
ethernet0.addressType = "generated"
svga.present = "TRUE"
tools.syncTime = "FALSE"
